@font-face {
  font-family: montserrat;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}

body {
  background-color: #272320;
  position: relative;
  height: 1100px;
}

/* box-1 css start */
#main_box .box-1 {
  background-image: url(../images/58033765-hand-using-laptop-computer-on-top-view.png);
  height: 600px;
  width: 80%;
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0px;
}

#main_box .box-1 .box-1-1 {
  background-color: #e5866190;
  width: auto;
  height: 45%;
  border: 5px solid #ffffff;
  position: absolute;
  right: 3%;
  top: 10%;
  padding: 10px;
}

#main_box .box-1 .box-1-1 p {
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  font-family: montserrat;
  margin: 0px;
}

/* box-2 css start */
#main_box .box-2 .box-2-1 {
  width: 86%;
  background-color: #ffffff;
  height: 10px;
  position: absolute;
  right: 0px;
  top: 1%;
  z-index: 2;
}

#main_box .box-2 .box-2-2 {
  width: 5%;
  background-color: #ffffff;
  height: 10px;
  position: absolute;
  left: 14%;
  top: 3%;
  z-index: 2;
}

#main_box .box-2 h2 {
  color: #ffffff;
  font-family: montserrat;
  font-size: 5rem;
  position: absolute;
  left: 14%;
  top: -2%;
  z-index: 2;
}

/* box-3 css start */
#main_box .box-3 {
  position: absolute;
  height: 700px;
}

#main_box .box-3P {
  background-color: #e58661ce;
  width: 50%;
  left: 13%;
  z-index: 1;
}

#main_box .box-3B {
  width: 50%;
  background-color: #699387c6;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

#main_box .box-3 > h2 {
  color: #ffffff;
  position: absolute;
  top: 24%;
  left: 12%;
  font-family: montserrat;
}

#main_box .box-3 .box-3-1 {
  color: #ffffff;
  position: absolute;
  font-family: montserrat;
  width: 80%;
  font-weight: 700;
  text-align: justify;
}

#main_box .box-3 .box-3-1P {
  top: 28%;
  left: 15%;
}

#main_box .box-3 .box-3-1B {
  top: 47%;
  left: 10%;
}

#main_box .box-3 h3 {
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: montserrat;
  font-weight: 900;
  display: inline-block;
  font-size: 50px;
}

#main_box .box-3 ul {
  display: inline-flex;
  list-style: none;
  margin-top: 10%;
  padding: 0px;
}

#main_box .box-3 ul li a {
  list-style: none;
  color: #ffffff;
}

#main_box .box-3 ul li a i {
  font-size: 50px;
  margin: 37px;
  font-weight: 900;
}

#main_box .box-3 .box-3-2 {
  margin-top: -3%;
}

#main_box .box-3 .line-v {
  width: 10px;
  height: 130%;
  background-color: #ffffff;
  position: absolute;
  bottom: -87%;
  left: 6%;
}

#main_box .box-3-2 h1 {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
  position: relative;
  right: -13%;
  margin-top: 0px;
}

#main_box .box-3 .box-3-2 h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 13%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#main_box .box-3 .box-3-2 h4 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 14%;
  margin-top: 0px;
}

/* second box-3 start */
#main_box .box-3B h1 {
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 33%;
  display: inline-block;
  position: relative;
  left: 75%;
}

#main_box .box-3B .line {
  height: 5px;
  background-color: #272320;
}

#main_box .box-3B h4 {
  text-align: center;
}

#main_box .box-3B ul {
  margin-left: 15%;
}

#main_box .box-4 {
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  left: 26%;
}

#main_box .box-4 h1 {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 20px;
}

#main_box .box-4 > div {
  margin-bottom: 10px;
}
/* media query start */

@media screen and (max-width: 575px) {
  #main_box .box-3-2 h1 {
    font-size: 30px;
  }

  #main_box .box-3 h3 {
    font-size: 15px;
  }

  #main_box .box-3 ul li a i {
    font-size: 15px;
    margin: 6px;
    font-weight: 900;
  }

  #main_box .box-3B h1 {
    font-size: 30px;
    margin-top: 164%;
  }

  #main_box .box-3 .box-3-2 h2 {
    font-size: 20px;
  }

  #main_box .box-3 .box-3-2 h4 {
    font-size: 16px;
  }

  #main_box .box-4 h1 {
    font-size: 17px;
  }

  #main_box .box-3 .box-3-1B p {
    font-size: 10px;
  }

  #main_box .box-4 p {
    font-size: 10px;
  }

  #main_box .box-3B h4 {
    font-size: 14px;
    margin-top: 1%;
}
  #main_box .box-3B ul {
    margin-left: 0%;
}

  #main_box .box-3 .line-v {
    height: 103%;
    bottom: -80%;
    left: -14%;
  }

  #main_box .box-4 {
    left: 20%;
  }

  #main_box .box-2 h2 {
    font-size: 25px;
    top: 2%;
  }

  #main_box .box-3 > h2 {
    top: 9%;
  }

  #main_box .box-3 .box-3-1P {
    top: 14%;
  }

  #main_box .box-1 .box-1-1 {
    height: 22%;
  }

  #main_box .box-1 .box-1-1 p {
    font-size: 20px;
  }
}
/* @media screen and (max-width: 850px) {
  #main_box .box-3-2 h1 {
    font-size: 60px;
  }

  #main_box .box-3 h3 {
    font-size: 30px;
  }

  #main_box .box-3 ul li a i {
    font-size: 30px;
    margin: 6px;
    font-weight: 900;
  }

  #main_box .box-3B h1 {
    font-size: 60px;
    margin-top: 24%;
  }
  #main_box .box-3 .box-3-2 {
    margin-top: 42%;
}

  #main_box .box-3 .box-3-2 h2 {
    font-size: 30px;
  }

  #main_box .box-3 .box-3-2 h4 {
    font-size: 20px;
  }

  #main_box .box-4 h1 {
    font-size: 20px;
  }
  #main_box .box-3 .box-3-1B {
    top: 43%;
    left: 10%;
}

  #main_box .box-3 .box-3-1B p {
    font-size: 15px;
  }

  #main_box .box-4 p {
    font-size: 16px;
  }

  #main_box .box-3B h4 {
    font-size: 22px;
  }

  #main_box .box-3 .line-v {
    height: 103%;
    bottom: -80%;
    left: -14%;
  }

  #main_box .box-4 {
    left: 20%;
  }

  #main_box .box-2 h2 {
    font-size: 25px;
  }

  #main_box .box-3 > h2 {
    top: 9%;
  }

  #main_box .box-3 .box-3-1P {
    top: 14%;
  }

  #main_box .box-1 .box-1-1 {
    height: 43%;
  }

  #main_box .box-1 .box-1-1 p {
    font-size: 20px;
  }
} */
